<%include partials/header%>

<div class = "container yourMovie mainTile">
    
    <div class = "row align-items-center justify-content-center">
        <div class = "col-md-6">
            <h3><strong><%=movieData["Title"]%></strong></h3>
            <p>Released: <%=movieData["Released"]%></p>
            <p>Directed By: <%=movieData["Director"]%></p>
            <p>Starring: <%=movieData["Actors"]%></p>
            <p><strong>Plot -</strong>
            <br>
                <%=movieData["Plot"]%>
            </p>
              <form action = "/" method = "GET">
            <button class = "btn btn-primary">Home</button>
            </form>
        </div>
        <div class = "col-md-6">
            <div class = "row align-items-center justify-content-center">
                <img src= "<%=movieData["Poster"]%>"
            </div>"
        </div>
    </div>
    </div>
</div>


<%include partials/footer%>